{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Preview</th>
                <td>{{ entity.preview|raw }}</td>
            </tr>

            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Copyright</th>
                <td>{{ entity.copyright }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Mediatype</th>
                <td>{{ entity.mediaType }}</td>
            </tr>
            <tr>
                <th>Mediatypereference</th>
                <td>{{ entity.mediaTypeReference }}</td>
            </tr>
            <tr>
                <th>Mediatypemetadata</th>
                <td>{{ dump(entity.mediaTypeMetadata) }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('media') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('media_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
