{% block upload_widget %}
    {% apply spaceless %}
        <div id="dz_{{ id }}_FormUploader" class="dropzone mmmb-dropzone"
             data-url="{{ path('media_upload') }}"
             data-field-name="{{ full_name }}{% if multiple %}[]{% endif %}"
             data-multiple="{% if multiple %}true{% else %}false{% endif %}"
             data-files="{{ value_media_json|e|raw }}"
             data-accepted-files="{{ form.vars.allowed_filetypes|join(',') }}"
             data-max-filesize="{{ form.vars.max_filesize }}"

             data-dictDefaultMessage="{{ 'dictDefaultMessage'|trans }}"
             data-dictFallbackMessage="{{ 'dictFallbackMessage'|trans }}"
             data-dictFallbackText="{{ 'dictFallbackText'|trans }}"
             data-dictInvalidFileType="{{ 'dictInvalidFileType'|trans }}"
             data-dictFileTooBig="{{ 'dictFileTooBig'|trans }}"
             data-dictResponseError="{{ 'dictResponseError'|trans }}"
             data-dictCancelUpload="{{ 'dictCancelUpload'|trans }}"
             data-dictCancelUploadConfirmation="{{ 'dictCancelUploadConfirmation'|trans }}"
             data-dictRemoveFile="{{ 'dictRemoveFile'|trans }}"
             data-dictRemoveFileConfirmation="{{ 'dictRemoveFileConfirmation'|trans }}"
             data-dictMaxFilesExceeded="{{ 'dictMaxFilesExceeded'|trans }}"

        ></div>
        <div class="dropzone dropzone-previews" id="dz_{{ id }}_FormUploader_previews"></div>
    {% endapply %}
{% endblock %}

{% block upload_row %}
    {{- block('form_row') -}}
{% endblock %}